# To learn more about .editorconfig, see: https://editorconfig.org

# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8

# Code files
[*.{cpp,c,hpp,h}]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
# Specify indentation for WZ source files
[{lib,src}/**.{cpp,c,hpp,h}]
indent_style = tab

# YAML
[*.{yml,yaml}]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Python
[*.py]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# CMake
[CMakeLists.txt]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab

# JavaScript
[*.js]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab

# JSON
[*.json]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
